USE [master]
GO
/****** Object:  Database [eShop]    Script Date: 7/13/2020 12:22:14 AM ******/
CREATE DATABASE [eShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eShop', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\eShop.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'eShop_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\eShop_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eShop]
GO
/****** Object:  Table [dbo].[aboutus]    Script Date: 7/13/2020 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[aboutus](
	[a_id] [int] IDENTITY(1,1) NOT NULL,
	[a_welcome] [varchar](500) NULL,
	[a_description] [varchar](500) NULL,
	[a_message] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[a_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cart]    Script Date: 7/13/2020 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[p_id] [int] NULL,
	[product_quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[contact]    Script Date: 7/13/2020 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contact](
	[c_id] [int] IDENTITY(1,1) NOT NULL,
	[c_name] [varchar](255) NOT NULL,
	[c_lastname] [varchar](255) NOT NULL,
	[c_email] [varchar](255) NOT NULL,
	[c_message] [varchar](255) NOT NULL,
	[c_country] [varchar](255) NOT NULL,
	[c_age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[c_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product]    Script Date: 7/13/2020 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product](
	[p_id] [int] IDENTITY(1000,1) NOT NULL,
	[p_name] [varchar](255) NOT NULL,
	[p_description] [varchar](255) NOT NULL,
	[p_performance] [varchar](255) NOT NULL,
	[p_image] [varchar](255) NOT NULL,
	[p_price] [float] NOT NULL,
	[p_code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[p_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[slider]    Script Date: 7/13/2020 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[slider](
	[s_id] [int] IDENTITY(1,1) NOT NULL,
	[s_image] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[s_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/13/2020 12:22:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[u_id] [int] IDENTITY(100,1) NOT NULL,
	[u_name] [varchar](80) NOT NULL,
	[u_lastname] [varchar](80) NOT NULL,
	[u_email] [varchar](255) NOT NULL,
	[u_password] [varchar](100) NOT NULL,
	[u_isAdmin] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[u_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT ((1)) FOR [product_quantity]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [P] FOREIGN KEY([p_id])
REFERENCES [dbo].[product] ([p_id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [P]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [U] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([u_id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [U]
GO
USE [master]
GO
