*{
    box-sizing: border-box;
}
.wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 80%;
    width: 90vw;
    margin: auto;
    margin-top: 100px;
    border-bottom: 1px solid rgb(194, 188, 188);
}
.product-image{
    display: flex;
    flex-direction: column;
    width: 30%;
    height:530px;
    margin: 10px;
   
}
.main-image{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}
.main-image img{
    height: 370px;
    margin: auto;
}
.nav-image{
    width: 100%;
    display: flex;
   
}
.nav-image ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}
.nav-image li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100px;
    border: 1px solid rgb(196, 191, 191);
    list-style: none;
    margin: 0 5px 0 5px;
    cursor: pointer;
    opacity: 0.7;
}
.nav-image ul li img{
    
    height: 80%;
}
.nav-image ul :hover{
    opacity: 1;
  
}



.main-side{
    width:60%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.description{
    width: 60%;
    height: 500px;
    margin: 10px;
    
    padding: 15px;
}
.description h2{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-bottom: 1px solid rgb(196, 191, 191);
    color: rgba(0,171,239,1);
}
.description h4{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-bottom: 1px solid rgb(196, 191, 191);
}
.description p{
    height: 30%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-bottom: 1px solid rgb(196, 191, 191);
}
.description ul{
    padding: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   
}
.description ul li{
    margin: 5px;
}


.action-side{
    width: 40%;
    height: 300px;
    margin: 10px;
    border: 1px solid rgb(196, 191, 191);
    padding: 20px;
}
.price-side{
    height: 50%;
}
.price-side h2{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-bottom: 1px solid rgb(196, 191, 191);
}
.proceed{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}
.proceed button{
    border: 0;
    height: 30px;
    border-radius: 6px;
    background: linear-gradient(to bottom, rgba(0,171,239,1) 0%,rgba(127,198,226,1) 100%);
    cursor: pointer;
}

@media only screen and (max-width:1000px){
    .wraper{
        flex-direction: column;
        margin: auto;
        margin-top: 100px;
    }
    .product-image{
        width: 100%;
    }
    .nav-image{
        justify-content: space-around;
    }
    .main-side{
        margin: 0 auto;
        width: 100%;
      
    }
}